<div class = "container">
	<h1>Weekly Batting Stat Leaders</h1>
	<div class="row">
		<% batting_leaders.each do |s, players| %>
			<div class="col-4">
			  <h4><%= s %></h4>
				<% players.each do |player| %>
					<h5><%= player[:name] %>: <%= player[:stat] %></h5>
				<% end %>
			</div> 
		<% end %>
	</div>
</div>