<h1>Player last 7 day rankings</h1>

<div class="container">
	<div class="row">
		<div class="col">
			<h2>Batting</h2>
			<ol>
				<% wbplayers.sort_by { |key, value| value.sum }.reverse.to_h.each do |k,v| %>
					<li class="text-white"><h5><%= k %> : <small><%= v.sum/v.size %></small></h5></li>
				<% end %>
			<ol>
		</div>
		<div class="col">
			<h2>Pitching</h2>
			<ol>
				<% wbpitching.sort_by { |key, value| value.sum }.reverse.to_h.each do |k,v| %>
					<li class="text-white"><h5><%= k %> : <small><%= v.sum/v.size %></small></h5></li>
				<% end %>
			<ol>
		</div>
	</div>
</div>