/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 body {
  background-color: #000000 !important;
}

h1,h2,h3,h4,h6,p {
	color: white !important;
}

h5 {
	color: tan !important;
}

small {
	color: red;
}

.custom-card-body {
  background-color: #343a40; /* Dark gray */
  color: #ffffff; /* White text */
}

.custom-list-item {
  background-color: #212529; /* Slightly darker shade */
  color: #ffffff; /* White text */
}


.custom-list-item {
  background-color: #212529; /* Bootstrap "dark" */
  color: #ffffff; /* White text */
  border: none; /* Remove default border */
}

.col-4 {
	padding-bottom: 20px;
}