<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Overall", root_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Weekly", home_weekly_path, class: "nav-link text-white" %>
        </li>
				<li class="nav-item">
          <%= link_to "Weekly Ranks", posts_path, class: "nav-link text-white" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
